
!!!!!!!!!!!
MOVE THIS TO build/conf/bblayers.conf
!!!!!!!!!!!

# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "4"

BBFILES ?= ""
BBLAYERS ?= " \
  /home/sjk/yocto/meta \
  /home/sjk/yocto/meta-yocto \
  /home/sjk/yocto/meta-raspberrypi \
  "
